#!/usr/bin/make -f

export GOCACHE=/tmp/gocache-deb-build
export GO111MODULE=on
export DH_OPTIONS
export DH_GOPKG=github.com/VSETH-GECO/bouncer

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_install:
	dh_install
	rm debian/bouncer/usr/bin/cmd
